.Pagination {
  &-List {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 8px;
  }

  &-ListItem {
    margin-bottom: 8px;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &-Loader {
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
  }
}
