.Placeholder {
  text-align: center;
  width: 200px;

  &::before {
    content: url('../../img/tools.svg');
    width: 124px;
    height: 124px;
    margin-bottom: 32px;
  }

  &-Description {
    font-size: var(--font-size_s);
    line-height: var(--line-height_s);
    margin-top: 32px;
    margin-bottom: 24px;
    text-align: center;
  }
}
