$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

:root {
  --color_accent: #FFCC00;
  --color_accent_hovered: #F2C200;
  --color_accent_border: #B38F00;
  --color_control: #E6E6E6;
  --color_control_hovered: #DBDBDB;
  --color_control_border: #B3B3B3;
  --color_default_100: #F0F2F3;
  --color_default_200: #F2F2F2;
  --color_default_400: #D9D9D9;
  --color_default_500: #B3B3B3;
  --color_default_600: #6B6B6B;

  --color_danger: #FF3333;
  --color_success: #00B341;
  --color_warning: #FF9A00;

  --font-size_s: 13px;
  --font-size_m: 15px;
  --font-size_ml: 16px;
  --font-size_l: 18px;
  --font-size_xl: 24px;

  --line-height_s: 15px;
  --line-height_m: 18px;
  --line-height_l: 20px;
  --line-height_xl: 28px;
  --line-height_xxl: 30px;

  --font-color_default: #7F8285;
  --font-color_default_500: #595959;
  --font-color_accent: #000000;
  --font-color_secondary: #CCCCCC;
}
