@import 'styles/variables.scss';

.Footer {
  padding: 12px 20px;
  background-color: var(--color_default_100);
  color: var(--font-color_default);

  &-Container {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    width: 100%;
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;
  }
}
